* {
    box-sizing: border-box;
}

.container {
    display: flex;
    width: 400px;
    height: 600px;
    flex-flow: wrap;
    border: solid black 1px;
    align-items: center;
}

button {
    height: 70px;
    flex-basis: 100%;
}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.row-1, .row-2, .row-3, .row-4, .row-5 {
    display: flex;
    justify-content: center;
    width: 100%;
}